

.all{
    display: none;
}
.all.allLoaded {
    display: block;
}
.container {
    padding: 0 1rem;
}
mat-toolbar {
    display: none;
}

@media (min-width:600px) {
    .container {
        padding: 1rem 2rem;
    }
    .mat-menu {
        display: none;
    }
    mat-toolbar {
        display: block;
    }
}

.fill-remaining-space {
    flex: 1 1 auto;
  }
  
