.post {

    &__text {
        margin-right: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        vertical-align: middle;
        display: inline-block;
    }
    
    &-card {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    &-selected {
        background-color: #ffe9e7;
    }

    &-headline{
        display: inline;
        margin-right: 1rem;
        margin-bottom: 5rem;
    }

    &-info {
        margin: 0.9rem 0 2rem 0;
    }
}

.mat-card-title {
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: sub;
}

.mat-card-subtitle {
    margin: 0;
}

.remove-button{
    margin-left: 1rem;
}

.edited{
    font-weight: 500
}

.loadingContainer, .emptyContainer {
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    @media(max-width: 850px){
        width: 100%;
        height: 350px;
    }
    position: relative;

}

app-gdp-graph-canvas{
    width: 100%;
    // height: 500px;

    @media(max-width: 850px){
        // height: 350px;
    }    
}

.dataContainer{
    width: 100%;
    @media(max-width: 850px){
        width: 100%;
    }    

}


.container{
    width: 70%;
    min-width: 200px;
    max-width: 50rem;
    margin: 0 auto;
    @media(max-width: 850px){
        width: 100%;
    }
}

hr{
    margin: 1rem auto;
    display: block;
    width: 100%;
    border-color: #3f51b5;
}

.spinner-container, .emptyContainer-text{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    display: block;
}

.selectable{
    cursor: pointer;
    transition: 150ms;
    &:hover{
        background-color: rgb(240, 249, 255);
    }
}

.loading-spinner{
    display: inline-block;
}
.header{
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
}